:root {
  --clr-accent-cyan: hsl(180, 66%, 49%);
  --clr-accent-dark: hsl(257, 27%, 26%);
  --clr-accent-red: hsl(0, 87%, 67%);

  --clr-neutral-500: hsl(0, 0%, 92%);
  --clr-neutral-400: hsl(0, 0%, 75%);
  --clr-neutral-300: hsl(257, 7%, 63%);
  --clr-neutral-200: hsl(255, 11%, 22%);
  --clr-neutral-100: hsl(260, 8%, 14%);
}
